<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <script src="vue.js"></script>
    <script src="js/Students.js"></script>
    <script src="js/new_method.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>

<div id="app">
    <header>
        <h1 class="header_h1">学生信息管理系统</h1>
    </header>
	<router-view></router-view>
</div>
<template id="my_stu">
	<div>
		<div class="control_button">
			<button class="btn" onclick="show_add()" id="add_button">新增</button>
			<button class="btn" @click="delStudent()" id="remove_button">删除</button>
			<button class="btn" onclick="refresh_data()">初始化数据</button>
			<input id="current_page" value="1">
			<button class="btn" @click="turnTo" id="turnTo">跳转页面</button>
			<button class="btn" @click="next_page" id="next_button">下一页</button>
			<button class="btn" @click="last_page" id="last_button">上一页</button>
		</div>

    <table class="table" id="table">
        <tr>
            <td>
                <input type="checkbox" name='checkbox_total' onclick='checkbox_select_all()'>
            </td>
            <td width="80">序号</td>
            <td width="200">学号</td>
            <td width="150">姓名</td>
            <td width="70">性别</td>
            <td width="250">学院</td>
            <td width="120">专业</td>
            <td width="100">年级</td>
            <td width="100">班级</td>
            <td width="60">年龄</td>
            <td width="130">创建时间</td>
            <td width="100">操作</td>
        </tr>
        <tr v-for="(student,index) in students" v-if="(index <= page*10-1) && (index>=page*10-10)">
			<td><input type="checkbox" name="id_checkbox"></td>
			<td>{{index+1}}</td>
			<td>{{student.id}}</td>
			<td>{{student.name}}</td>
			<td>{{student.sex}}</td>
			<td>{{student.college}}</td>
			<td>{{student.major}}</td>
			<td>{{student.grade}}</td>
			<td>{{student.class}}</td>
			<td>{{student.age}}</td>
			<td>{{student.hobby}}</td>
			<td>
				<a @click="check(index)">查看</a>
				<a @click="alt(index)">修改</a>
			</td>
        </tr>
    </table>



<div class="add" id="add">
    <h2>增加学生数据</h2>
    <div>
        学号
        <input type="text" id="id">
    </div>

    <div>
        姓名
        <input type="text" id="name">
    </div>

    <div>
        性别
        <label>
            男
            <input type="radio" id="sex_male" name="sex" checked>
        </label>
        <label>
            女
            <input type="radio" id="sex_female" name="sex">
        </label>
    </div>

    <div>
        学院
        <select style="height: 40px" id="college">
            <option>
                人工智能学院
            </option>
            <option>
                理学院
            </option>
            <option>
                会计学院
            </option>
        </select>
    </div>

    <div>
        专业
        <input type="text" id="major">
    </div>

    <div>
        年级
        <input type="text" id="grade">
    </div>

    <div>
        班级
        <input type="text" id="class">
    </div>

    <div>
        年龄
        <input type="text" id="age">
    </div>

    <div hidden>
        创建时间
        <input type="text" id="hobby">
    </div>

    <div>
        <button class="btn" onclick="submit_add()">提交</button>
        <button class="btn" onclick="cancel_add()">取消</button>
    </div>
</div>

<div class="check" id="check">

</div>

<div class="alt" id="alt">
    <h2>修改学生数据</h2>
    <span hidden id="alt_student_id"></span>
    <div>
        学号
        <input type="text" id="alt_id">
    </div>

    <div>
        姓名
        <input type="text" id="alt_name">
    </div>

    <div>
        性别
        <label>
            男
            <input type="radio" id="alt_sex_male" name="alt_sex" checked>
        </label>
        <label>
            女
            <input type="radio" id="alt_sex_female" name="alt_sex">
        </label>
    </div>

    <div>
        学院
        <select style="height: 40px" id="alt_college">
            <option>
                人工智能学院
            </option>
            <option>
                理学院
            </option>
            <option>
                会计学院
            </option>
        </select>
    </div>

    <div>
        专业
        <input type="text" id="alt_major">
    </div>

    <div>
        年级
        <input type="text" id="alt_grade">
    </div>

    <div>
        班级
        <input type="text" id="alt_class">
    </div>

    <div>
        年龄
        <input type="text" id="alt_age">
    </div>

    <div>
        创建时间
        <input type="text" id="alt_hobby" disabled>
    </div>

    <div>
        <button class="btn" onclick="submit_alt()">提交</button>
        <button class="btn" onclick="alt_cancel()">取消</button>
    </div>

</div>
	</div>
</template>
<template id="my_login">
	<div style="display: flex; flex-direction: column;margin: 0 auto;">
		<h1 style="margin: 0 auto">登录</h1>
		<div style="margin: 0 auto">
			<label>
				账号
				<input type="text" id="login_name" placeholder="wzz"/>
			</label>
		</div>
		<div style="margin: 0 auto;">
			<label>
				密码
				<input type="text" id="login_password" placeholder="123"/>
			</label>
		</div>
        <div v-if="false_inf" style="margin: 0 auto">
            <span style="color: red">账号或密码错误</span>
        </div>
        <div style="margin: 0 auto">
            <button class="btn" @click="login">登录</button>
        </div>
	</div>
</template>
<script>
    var students_storage = localStorage.my_data;
    students_storage=JSON.parse(students_storage);

    const login = {
        data() {
            return{
                false_inf:false
            }
        },
        methods: {
          login:function () {
              let name=document.getElementById("login_name").value;
              let password=document.getElementById("login_password").value;
              if (name==="wzz" && password==="123"){
                  this.$router.push({path:'/student'})
              }
              else {
                  this.false_inf=true
              }
          }
        },
        template: '#my_login'
    }

    const stu = {
        data() {
            return {
                url: 'http://www.baidu.com',
                student: {},
                students: students_storage,
				page:1,
				total_page: Math.ceil(students_storage.length/10)
            }
        },
        methods:{
            addStudent: function() {
                var stu = {
                    id: this.student.id,
                    name: this.student.name,
                    sex: this.student.sex
                }
                this.students.push(stu)
            },
            delStudent: function() {
                const id_checkbox = document.getElementsByName("id_checkbox");
                var correct_number=parseInt(document.getElementById("current_page").value)*10-10;
                const r = confirm("确定删除所选项？");
                if (r===true){
                    let j=0;
                    for(let i = 0; i < id_checkbox.length; i++){
                        if(id_checkbox[i].checked){
                            students_storage.splice(j+correct_number,1);
                        }
                        else {
                            j=j+1;
                        }
                    }
                }
				save_data(students_storage)
                location.reload()
            },
			check:function(index){
				check(parseInt(index),students_storage)
			},
			alt:function(index){
				alt(parseInt(index),students_storage)
			},
			next_page:function(){
				if(this.page===this.total_page){
					alert("当前已经是最后一页")
				}else{
					this.page++
					this.students.push()
					document.getElementById("current_page").value=this.page
				}
			},
			last_page:function(){
				if(this.page===1){
					alert("当前已经是第一页")
				}else{
					this.page--
					this.students.push()
					document.getElementById("current_page").value=this.page
				}
			},
			turnTo:function(){
				if(parseInt(document.getElementById("current_page").value)>this.total_page || parseInt(document.getElementById("current_page").value)<=0){
					alert("超出页码，请重新输入")
				}else{
					this.page=parseInt(document.getElementById("current_page").value)
					this.students.push()
				}
			}
        },
        template: '#my_stu'
    }
    var myrouter = new VueRouter({
        routes: [
            { path: '/' ,redirect:'/login'},
            { path: '/login', component: login },
            { path: '/student', component: stu }
        ]
    })
    var app = new Vue({
        el: '#app',
        router: myrouter
    })
</script>

</body>
</html>
